@model bool
@using Smidge.Models;
@inject Smidge.SmidgeHelper SmidgeHelper
@inject Smidge.IBundleManager BundleManager

<h5>Generated non-named-bundled JS Urls</h5>
<ul>
    @foreach (var item in await SmidgeHelper.GenerateJsUrlsAsync(debug: Model))
    {
        <li>@item</li>
    }
</ul>

<h5>Generated non-named-bundled CSS Urls</h5>
<ul>
    @foreach (var item in await SmidgeHelper.GenerateCssUrlsAsync(debug: Model))
    {
        <li>@item</li>
    }
</ul>

<h5>Generated named-bundled JS Urls</h5>
<ul>
    @foreach (var bundleName in BundleManager.GetBundleNames(WebFileType.Js))
    {
        foreach (var item in await SmidgeHelper.GenerateJsUrlsAsync(bundleName, debug: Model))
        {
            <li>@item</li>
        }
    }
</ul>

<h5>Generated named-bundled CSS Urls</h5>
<ul>
    @foreach (var bundleName in BundleManager.GetBundleNames(WebFileType.Css))
    {
        foreach (var item in await SmidgeHelper.GenerateCssUrlsAsync(bundleName, debug: Model))
        {
            <li>@item</li>
        }
    }
</ul>

<div id="jsOutput">
    <span>JS loading debug output:</span>
</div>