@inject Microsoft.Extensions.PlatformAbstractions.IApplicationEnvironment AppEnv; 

<nav class="top-bar" data-topbar role="navigation">  
    <section class="top-bar-section">
        <ul class="right">
            <li class="active"><a href="#">Runtime: @AppEnv.RuntimeFramework.FullName</a></li>
        </ul>
        <ul class="left">
            <li><a href="/"><i class="fa fa-camera-retro fa-1x"></i> Home</a></li>
            <li><a href="/Home/SubFolder"><i class="fa fa-camera-retro fa-1x"></i> Sub page test</a></li>
            <li><a href="/Home/AllDebug"><i class="fa fa-camera-retro fa-1x"></i> All debug</a></li>
        </ul>
    </section>
</nav>