@using System.Diagnostics
@using Smidge.Models;
@using Smidge.FileProcessors;
@inject Smidge.SmidgeHelper SmidgeHelper
@inject Smidge.FileProcessors.PreProcessPipelineFactory PipelineFactory
@inject Smidge.BundleManager BundleManager
@addTagHelper "*, Smidge"

<html>
<head>

    @await SmidgeHelper.JsHereAsync("libs", debug: true)

    @{
        SmidgeHelper
            .CreateJsBundle("inline-js-bundle")
            .RequiresJs("~/Js/test1.js", "~/Js/test2.js")
            .RequiresJs(new JavaScriptFile("~/Js/test2.js")
            {
                Pipeline = PipelineFactory.GetPipeline(typeof(JsMin))
            });
        SmidgeHelper
            .CreateCssBundle("inline-css-bundle")
            .RequiresCss("~/Css/test1.css", "~/Css/test2.css");

        SmidgeHelper.RequiresJs("~/Js/Folder*js");
        SmidgeHelper.RequiresCss("~/Css/Folder*css");
    }

    <script src="inline-js-bundle" type="text/javascript" debug="true"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css"/>
    <link rel="stylesheet" href="inline-css-bundle" debug="true"/>
    <link rel="stylesheet" href="test-bundle-4" debug="true" />    
</head>
<body>
    
    @Html.Partial("TopBar")
    @Html.Partial("LoadedDependencies", true)

    @await SmidgeHelper.JsHereAsync(debug:true)
    @await SmidgeHelper.JsHereAsync("test-bundle-1", debug: true)
    @await SmidgeHelper.JsHereAsync("test-bundle-2", debug: true)
    
</body>
</html>