@using Smidge
@using Smidge.Models;
@using Smidge.FileProcessors;

<html>
<head>

    @await SmidgeHelper.JsHereAsync("libs-js")
    @await SmidgeHelper.CssHereAsync("libs-css")
    @*@await SmidgeHelper.CssHereAsync("less-test")*@

    @{
        SmidgeHelper
            .CreateJsBundle("inline-js-bundle")
            .RequiresJs("~/Js/test1.js", "~/Js/test2.js")
            .RequiresJs(new JavaScriptFile("~/Js/test2.js")
            {
                Pipeline = PipelineFactory.Create(typeof(JsMinifier))
            });
        SmidgeHelper
            .CreateCssBundle("inline-css-bundle")
            .RequiresCss("~/Css/test1.css", "~/Css/test2.css");

        // This is here just to test what hapens when files don't exist
        SmidgeHelper
            .CreateJsBundle("no-files")
            .RequiresJs("~/Js/not-found/*.js");

        SmidgeHelper.RequiresJs("~/Js/Folder/*.js");
        SmidgeHelper.RequiresCss("~/Css/Folder/*.css");
    }

    <script src="inline-js-bundle" async="true"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css" />
    <link rel="stylesheet" href="inline-css-bundle" />
    <link rel="stylesheet" href="test-bundle-4" onload="window.alert('hello')" />
    @await SmidgeHelper.CssHereAsync("notfound-map-css-bundle", debug: false)
</head>
<body>

    @await Html.PartialAsync("TopBar")
    @await Html.PartialAsync("LoadedDependencies", false)

    @await SmidgeHelper.JsHereAsync(debug: false)
    @await SmidgeHelper.JsHereAsync("test-bundle-1")
    @await SmidgeHelper.JsHereAsync("test-bundle-2")
    @await SmidgeHelper.JsHereAsync("no-files", debug: false)
    @await SmidgeHelper.JsHereAsync("test-bundle-10")

    <script src="~/Js/non-bundled.js" asp-append-version="true"></script>
</body>
</html>
