<html>
<head>

    @{
        Smidge
            .RequiresJs("//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
            .RequiresJs("~/Js/test1.js", "Js/test2.js")
            .RequiresJs("Js/Folder*js")
            .RequiresCss("Css/test1.css", "Css/test2.css", "Css/test3.css", "Css/test4.css");
    }

    @await Smidge.CssHereAsync()

</head>
<body>
    Hello world

    <p>
        <ul>
            @foreach (var item in await Smidge.GenerateJsUrlsAsync())
            {
                <li>@item</li>
            }
        </ul>
        <ul>
            @foreach (var item in await Smidge.GenerateCssUrlsAsync())
            {
                <li>@item</li>
            }
        </ul>
    </p>

    @await Smidge.JsHereAsync()
    @await Smidge.JsHereAsync("test-bundle-1")
    @await Smidge.JsHereAsync("test-bundle-2")

</body>
</html>