<html>
<head>

    @{ 
        Fuze
            .RequiresJs("Js/test1.js")
            .RequiresJs("Js/test2.js")
            .RequiresJs("Js/test3.js")
            .RequiresJs("Js/test4.js");
    }

    @await Fuze.RenderJsHereAsync()

</head>
<body>
    Hello world

    <p>
        <ul>
            @foreach (var item in await Fuze.GenerateJsUrlsAsync())
            {
                <li>@item</li>
            }
        </ul>
    </p>
</body>
</html>