<html>
<head>

    @{ 
        Singularity
            .RequiresJs("Js/test1.js")
            .RequiresJs("Js/test2.js");
    }

    @await Singularity.RenderJsHereAsync(); 

</head>
<body>
    Hello world
</body>
</html>