<html>
<head>

    @{ 
        await Singularity.RequiresJsAsync("Js/test1.js");
        await Singularity.RequiresJsAsync("Js/test2.js");
    }

    @Singularity.RenderJsHere()
</head>
<body>
    Hello world
</body>
</html>