name: 'Test Report'
on:
  workflow_run:
    workflows: ['Smidge Build']                     # runs after CI workflow
    types:
      - completed
jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - uses: dorny/test-reporter@v1.4.2
      with:
        artifact: smidge-test-results    # artifact name
        name: Publish Tests               # Name of the check run which will be created
        path: '*.trx'                     # Path to test results (inside artifact .zip)
        reporter: dotnet-trx              # Format of test results